*/target

# Compiled class files
.class
*.iml
# Log files
.log

# Package files
.jar
.war
.ear
.zip
.tar.gz
.rar

# Virtual machine crash logs
hs_err_pid*

/FindBugs.html
/FindBugs.xml
/FindBugs.diff.xml
/FindBugs.diff.html
/JUnit.html

*.iml
.idea/workspace.xml
.idea/uiDesigned.xml
.idea/dictionaries
.idea/findbugs-idea.xml
.idea/junitgenerator-prj-settings.xml
.idea/vcs.xml
.idea/checkstyle-idea.xml
.idea/ant.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/kotlinc.xml
out/
.idea/encodings.xml
.idea
.DS_Store
