.code {
    font-family: Menlo, monospace;
}

.h1 {
    font-weight: bold;
    font-size: 18pt;
}

.variable {
    position: relative;
    display: inline-block;
}

.link {
    border-bottom: 1px dotted black;
}

.tooltipDef {
    visibility: hidden;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 100%;
    font: 400 15px Arial;
    opacity: 0;
    transition: opacity 0.5s;
}

.rounded-corners {
    border-radius: 5px;
}

.buttonContainer {
    display: flex;
    float: left;
}

.buttonContainer button {
    margin: 2px;
    float: left;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    padding: 14px 16px;
}

.buttonContainer button:hover {background-color: #D3D3D3}

.buttonContainer button.active {
    background-color: #D3D3D3;
}

.margin {
    margin: 2px;
}

.margin10 {
    margin-left: 10px;
}

.tooltipTable {
    table-layout: auto;
    width: 100%;
}

.tableHead {
    border-bottom: 1px solid black;
    padding: 4px;
}

.rightBorder {
    border-right: 1px solid black;
    margin: 0;
}

.variable:hover .tooltipDef {
    visibility: visible;
    opacity: 1;
}

.centerText {
    text-align: center;
}
.nowrap {
    white-space: nowrap;
}

.line {
    display: inline-flex;
}

pre {
    margin: 0;
    font-family: Menlo, monospace;
}

.green {
    background-color: #8FFF9B;
}

.yellow {
    background-color: #FFE27E;
}

.red {
    background-color: #FF7F7F;
}

.orange {
    background-color: #FFC360;
}

.java-keyword {
    color: #8F00FF;
}

.type-keyword {
    color: #0049FF;
}

.comment {
    color: gray;
}

.white-gray {
    background: #EFEFEF;
}

.light-gray {
    background: #E5E5E5;
}

.gray {
    background: #D3D3D3;
}

.dark-gray {
    background: gray;
}
