.code {
    font-family: Menlo, monospace;
}

.h1 {
    font-weight: bold;
    font-size: 18pt;
}

.variable {
    position: relative;
    display: inline-block;
}

.link {
    border-bottom: 1px dotted black;
}

.tooltip {
    display: block;
    color: red;
}

.myDIV:hover + .variable {
    display: block;
}

.tooltipDef {
    visibility: hidden;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 100%;
    font: 400 15px Arial;
    opacity: 0;
    transition: opacity 0.5s;
}

.box2 {
    padding: 2px;
    display: flex;
    align-items: center;
}

.verticalAlignFlex {
    display: flex;
    flex-wrap: wrap;
}

.border {
    border: 1px solid black;
}

.rounded-corners {
    border-radius: 5px;
}

.tab {
    display: flex;
    float: left;
}

.buttonContainer {
    display: flex;
    float: left;
}

.buttonContainer button {
    margin: 2px;
    float: left;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    padding: 14px 16px;
}

.buttonContainer button:hover {background-color: #3e8e41}

.buttonContainer button.active {
    background-color: #3e8e41;
}

.margin {
    margin: 2px;
}

.margin10 {
    margin-left: 10px;
}

.tab button:hover {
    background-color: #ddd;
}

.flexContainer {
    display: flex;
}

.tabcontent {
    background-color: #FFE27E;
    display: none;
    padding: 2px;
    justify-content: center;
    align-items: center;
}

.outer {
    color: red;
    background: #D5D5D5;
}

.inner {
    background: #f5f5f5;
}

.width-fix {
    width: 37px;
}



.tooltipTable {
    table-layout: auto;
    width: 100%;
}


.fixedTable{
    table-layout: fixed;
}

.fixedTableCell {
    overflow: hidden;
}

.autoTable {
    table-layout: auto;
    color: black;
    border-collapse: collapse;
    width: 100%;

    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */

}



.tableHead {
    border-bottom: 1px solid black;
    padding: 4px;
}

.rightBorder {
    border-right: 1px solid black;
    margin: 0;
}

.variable:hover .tooltipDef {
    visibility: visible;
    opacity: 1;
}

.centerText {
    text-align: center;
}
.nowrap {
    white-space: nowrap;
}

.headerRow {
    white-space: nowrap;
}

.line {
    display: inline-flex;
}

pre {
    margin: 0;
    font-family: Menlo, monospace;
}

.green {
    background-color: #8FFF9B;
}

.yellow {
    background-color: #FFE27E;
}

.red {
    background-color: #FF7F7F;
}

.overwritten {
    background-color: #FFC0A4;
}

.java-keyword {
    color: #8F00FF
}

.type-keyword {
    color: #0049FF
}

.comment {
    color: gray;
}
